/*
Theme Name: Uniformes del Sur
Theme URI: http://woothemes.com/storefront
Author: IMGDigital
Author URI: http://www.imgdigital.com.ar/unidelsur
Template: storefront
Description: Child Theme para Uniformes del Sur de StoreFront
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: imgd
*/

.single-product div.product .price {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: right;
}

.price del {
  display: none;
}
.wcpb-bundled-product-title h1 {
  font-size: 24px;
}
